
/*------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/*--------------------------Da_menu_m start----------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*----------------------------------------------------------*/

.top-menu{}
.icon{
	padding:5px;
	border:3px solid #808080;
	border-radius:10px;
	font-size:2em;
	color:#808080;
	
}
.menu-items{ 
	background:#57396F;
	display:none; 
	margin-top:2px; 
	padding:30px;
	padding:30px;
}
.menu_dia_box h4 a{
	color:#ffffff ;
	font-family:Tahoma;
	font-weight:bold;
	font-size:20px;
	text-decoration:none;
}
.menu_dia_box a{
	color:#fff;
	font-family:Bell MT;
	font-weight:bold;
	font-size:15px;
}


/*-----------------------------------------------------------------------*/


/*--***************************************************************************************--*/
/*--*********************************Menu_media******************************************--*/
/*--********************************************************************--*/


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {

.top-menu:hover .menu-items{
	display:block; 
	z-index:999; 
	position:absolute; 
	width:90.2%; 
}
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
 
.top-menu:hover .menu-items{
	display:block; 
	z-index:999; 
	position:absolute; 
	width:92.4%; 
}
}


/*--********************************************************************--*/
/*--****************************************************************************--*/
/*--************************************************************************************--*/



/*---------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/*--------------------------Da_menu_m end----------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/



/*--*************************************************************************************--*/
/*--*************************************************************************************--*/
/*--*************Dai_add_m********************************************************--*/
/*--*************************************************************************--*/
/*--*********************************************************************--*/

.Dai_add_m{margin-bottom:16px;}

/*--**********************************************************************--*/
/*--*****************************************************************************--*/
/*--**********************************************************************************--*/
/*--******************************************Dai_add_m*******************************--*/
/*--************************************************************************************--*/

/*--//////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--/////////////////////////////////////////////////////////////////////////////////////////////////////////////-*/
/*--/////////////////////////////////////////Dia_product_simillar_m start///////////////////////////////////////////--*/
/*--/////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--/////////////////////////////////////////////////////////////////////////////////////////////--*/
.Dia_product_simillar_m{
	background:#000;
	height:185px;
	color:#fff;
	text-align:center;
}
.Dia_product_simillar_m p{
	font-size:28px;
	font-family:Times New Roman;
	color:#fff;
	font-weight:bold;
	padding:50px;
}
.dia_thumbnail_M1{
	border:0px;
	border-radius:none;
	padding:0px;
}
.dia_thumbnail_M{
	border:0px;
	border-radius:0;
	background:#EDEDED;
	padding:0px;
}
.dia_thumbnail_M img{
	width:100%;
	height:240px;
}
.caption{text-align:center;}
.caption h2{font-family:Bell MT;font-weight:bold;color:#595959;font-size:30px;}
.caption p{font-family:Bell MT;font-weight:bold;color:#595959;font-size:12px;}
.caption h3{font-family:Bell MT;font-weight:bold;color:#000;font-size:16px;}
.caption a{padding-left:30px;padding-right:30px; border:0px; border-radius:0x; color:#fff; background:#000;font-size:20px; font-family:Bell MT;font-weight:bold;}

/*--***************************************************************************************--*/
/*--*********************************Menu_media******************************************--*/
/*--********************************************************************--*/

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  .Dia_banner_m{
	  margin-bottom:3%;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
 .Dai_banner_img{
	 margin-top:5%;
 }
  .Dia_banner_m{
	  margin-bottom:3%;
  }
}

/*--********************************************************************--*/
/*--****************************************************************************--*/
/*--************************************************************************************--*/

/*--////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--/////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--/////////////////////////////////////////Dia_product_simillar_m end//////////////////////////////////////////////////--*/
/*--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/




/*--////////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////dai_header_section start////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////////--*/


/*--***************************************************************************************--*/
/*--*********************************Menu_media******************************************--*/
/*--********************************************************************--*/
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
 .dai_header_section{
	position:relative;
	padding:20px 00px 50px 0px;
}

.Dai_diamanzza_name{
	
}
.Dai_diamanzza_name span{
	font-family:Chiller;
	font-size:90px;
	font-weight:bold;
	color:#808080;
	padding-left:0px;
}

.Dai_diamanzza_name p{
	font-family:Chiller;
	font-size:20px;
	font-weight:bold;
	color:#808080;
}
.Dia_icon_m{
	
}
.Dia_icon_m img{
width:100%;
margin-top:-55px;	
height:260px;
}
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .dai_header_section{
	position:relative;
	padding:20px 0px;
}

.Dai_diamanzza_name{
	
}
.Dai_diamanzza_name span{
	font-family:Chiller;
	font-size:80px;
	font-weight:bold;
	color:#808080;
	padding-left:0px;
}

.Dai_diamanzza_name p{
	font-family:Chiller;
	font-size:20px;
	font-weight:bold;
	color:#808080;
}

.Dia_icon_m{
	text-align:center;
}
.Dia_icon_m img{
width:80%;	
height:300px;
margin-top:-20px;
}
}


/*--********************************************************************--*/
/*--****************************************************************************--*/
/*--************************************************************************************--*/


/*--//////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--//////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////dai_header_section end///////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/*--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////--*/
/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////dai_slider__details_section start////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
.dai_slider__details_section{
}
.Dia_details_m{
	
}
.Dia_details_m span{
	font-family:Bell MT;
	font-size:30px;
	font-weight:bold;color:#595959;
	padding-left:10px;
}
.Dia_details_m p{
	font-family:Bell MT;
	font-size:13px;
	text-align:justify;
	padding:18px;
	font-weight:bold;color:#595959;
}
.Dia_details_m ul li {
	font-family:Bell MT;
	font-size:15px;
	text-align:justify;
	font-weight:bold;color:#595959;
}
.Dia_details_m h4 {
	font-family:Times New Roman;
	font-size:18px;
	text-align:justify;
	padding-left:8px;
	font-weight:bold;color:#595959;
}
.Dia_details_m h6 {
	font-family:Times New Roman;
	padding-left:8px;
}
.Dia_details_m p button{
	font-family:Times New Roman;
	font-size:14px;
	font-weight:bold;
	border:0px;
	background:#000000;
	border-radius:0;
	padding-left:5px;
	padding-right:5px;
}
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////dai_slider__details_section end////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/

/*-------------------------------------------------------------------------------------*/
/*---------------------------------------Dai_add_m start---------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
.Dai_add_m{
	margin-top:10px;
	
}.Dai_add_m img{
	width:100%;
	border:1px solid black;
	height:150px;
	
}
/*-------------------------------------------------------------------------------------*/
/*---------------------------------------Dai_add_m end----------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*//**********************************************************************************************--*/
/*//**********************************************************************************************--*/
/********************************************Dai_product_m start **************************************************/*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
  
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/********************************************Dai_product_m end **************************************************/
/**********************************************************************************************-->*/

/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*--------------------------------------Four page start-----------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
.Dai_details_from_m{
	margin:0px; padding:0px;
}
/*.................................................................*/
/*.......................from_fox..........................................*/
/*.................................................................*/
.from-fox{
	border-radius:0px;
	border:1px solid #000;
	font-family:Times New Roman;
	font-size:17 px;
	font-weight:bold;
}
.Dai_diamanzza_name button{
	color:#ffffff;
	background:#000;
	padding-left:15px;padding-right:15px;
	border:0px;
	border-radius:0px;
	font-weight:bold;
	padding:5px 18px;
	margin-bottom:2%;
	font-size:14px;
}
/*.................................................................*/
/*.......................from_fox..........................................*/
/*.................................................................*/

.Dai_details_from_m span{
	font-family:Bell MT;
	font-size:24px;
	color:##595959;
	padding:10px;
	font-weight:bold;
}

.Dai_details_from_m p{
	font-family:Times New Roman;
	font-size:11px;
	color:green;
	padding:10px;
	font-weight:bold;
}

.Dia_product_details_m ul li {
	font-family:Bell MT;
	font-size:15px;padding:0px; margin-left:-10px;
	text-align:justify;
	font-weight:bold;
	color:#595959;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*----------------------------------------dia_about_jewelry--------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.dia_about_jewelry{
	text-align:center;
}
.dia_about_jewelry h1{
	font-family:Bell MT;
	font-size:44px;
	font-weight:bold;
	padding-top:20px;
}
.dia_about_jewelry p {
	font-family:Times New Roman;
	font-weight:italic;
	font-size:15px;
	color:#000000;
}
.dia_about_jewelry section {
	padding-bottom:60px;
	padding-top:10px;
	
}
.dia_about_jewelry section button {
	color:#ffffff;
	padding-left:30px;
	padding-right:30px;
	border:0px;
	font-size:22px;
	font-weight:bold;
	font-family:Times New Roman;
	border-radius:0px;
	background:#000;"
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*----------------------------------------dia_about_jewelry--------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------Dai_About_Jewelry_m start-----------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  
.Dai_product_image{
	width:50%;
	float:left;
	
}
.Dai_product_Details1{
	width:50%;
	float:left;
	
}
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {

.Dai_product_image{
	width:50%;
	float:left;
	margin-top:3%;
	
}
.Dai_product_Details1{
	width:50%;
	float:left;
	margin-top:3%;
	
}
}
.Dai_product_Details{
	background:#F2F2F2;
	min-height:350px;
	padding:10px;
}
.Dai_product_Details span{
	font-family:Bell MT;
	font-size:30px;
	font-weight:bold;color:#595959;
	padding-left:10px;
}
.Dai_product_Details p{
	font-family:Bell MT;
	font-size:15px;
	text-align:justify;
	padding:20px;
	font-weight:bold; 
	color:#000000;
}
.Dai_product_Details ul li {
	font-family:Bell MT;
	font-size:16px;
	text-align:justify;
	font-weight:bold;color:#000;
}
.Dai_product_Details h4 {
	font-family:Times New Roman;
	font-size:18px;
	text-align:justify;
	padding-left:8px;
	font-weight:bold;color:#7F7F7F;
}
.Dai_product_Details h6 {
	font-family:Times New Roman;
	padding-left:8px;
	font-weight:bold;
	color:#000;
}
.Dai_product_Details button{
	font-family:Times New Roman;
	font-size:14px;
	font-weight:bold;
	border:0px;
	background:#000000;
	border-radius:none;
	padding-left:5px;
	padding-right:5px;
}
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------Dai_About_Jewelry_m e-----------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/








/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*--------------------------------------Four page end-----------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/




/**********************************************************************************************-->*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*---------------------------------------------Asha startr-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/


/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////Dia_home_start(a)////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/


/**************************************************************************************/
/**************************************************************************************/
/****************************dia_left_right_logo_text_start(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/




/**************************************************************************************/
/**************************************************************************************/
/****************************dia_left_right_logo_text_end(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/

/**************************************************************************************/
/**************************************************************************************/
/****************************text_thamble_start(a)****************************************************/
/**************************************************************************************/
/**************************************************************************************/
.thamble{background:  #FFFFFF; text-align: center; border: 0px; }
.Dai_home_s{border-radius:0px; min-height:400px;}
.image3 img{height: 200px;}
.Dai_home_s h3{font-style: italic; font-weight:bold; color: #595959; font-family: Times New Roman; font-size: 30px;}
.Dai_home_s a{ font-weight: bold; color:#262626; text-decoration: underline; padding:5px;}
.Dai_home_s p{font-weight: bold;}
.Dai_banner_img{
	min-height:400px;
}
.Dai_banner_img .caption h4{
	padding:30px 0px;
	font-size:16px;
	font-family:Times New Roman;
	font-weight:bold;
	
}
.Dai_banner_img .caption h3{
	font-size:16px;
	font-family:Bell MT;
	font-weight:bold;
	padding:30px;
	
}

/**************************************************************************************/
/**************************************************************************************/
/****************************text_thamble_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/


/**************************************************************************************/
/**************************************************************************************/
/****************************affordable_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/
.dia_ertd{
		background: #F2F2F2;
		min-height: 300px;
}

.dia_ertd img{
	height: 300px;
}

.dia_earsd{
	background: #F2F2F2;
	min-height: 300px;
	text-align: center;
}

.dia_earsd h1{
	font-weight: bold;
	font-family: Time New Roman;
	padding-top:60px;
	color:#000;}
.dia_earsd p{
	font-weight: bold;
	font-family: Bell MT;
	padding-top:10px;
	color:#000;}
.dia_earsd a{
	color: black;
	font-weight: bold;
	text-decoration: underline;
	font-family: Time New Roman;
}

.dia_earsd span{
	font-family:Bell MT;
	font-weight:bold;
	font-size:20px;
	color:#000;
}
/**************************************************************************************/
/**************************************************************************************/
/****************************affordable_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/



/**************************************************************************************/
/**************************************************************************************/
/****************************about_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/

.dia_prof{height: 370px;  }

.dia_prof img{ height: 370px; width: 100%; }

.dia_larn{ background:#F8CBAD; height: 370px; text-align: center;}
.dia_larn h1{margin:0px;  padding: 40px; font-family: Time New Roman; font-weight: bold;}
.dia_larn a{ color: black; font-weight: bold; font-family: Time New Roman;}
.dia_larn p{
	text-align:justify;
	font-family:Bell MT;
	font-weight:bold;
	color:#000;
	padding:10px;
}
.dia_larn span{
	font-family:Bell MT;
	font-weight:bold;
	font-size:16px;
	color:#000;
}
.dai_porf_section-a{
	margin-top:20px;
	margin-bottom:60px;
}
/**************************************************************************************/
/**************************************************************************************/
/****************************about_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/




/**************************************************************************************/
/**************************************************************************************/
/****************************slider_start(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/
.text2{ min-height: 300px;}
.text2 h1{font-family: Time New Roman; font-weight: bold;}
.text2 a{}
.text2 p{ text-align:justify;
	font-family:Times New Roman;
	font-size:14px;
	color:#000000;
	font-weight:bold;
}
.text2 .button11{
	font-family:Times New Roman;
	font-size:14px;
	color:#000000;
	font-weight:bold;
	background:#000;
	border-radius:0px;
	color:#ffffff;
	padding-left:50px;
	padding-right:50px;
}
.slider{background: purple; height: 300px;}
.slider img{height: 300px; width: 100%;}


/**************************************************************************************/
/**************************************************************************************/
/****************************slider_end(a)********************************************************/
/**************************************************************************************/
/**************************************************************************************/





/**************************************************************************************/
/**************************************************************************************/
/****************************dia_beautiful_start(a)********************************************************/
/**************************************************************************************/
/**************************************************************************************/
.dia_beautiful{background:gray; min-height: 300px;}
.dia_beautiful img{height: 300px; width: 100%;}
.dai-add-s_m{
	margin-bottom:15px;
}
.dai_add_OVERLAY{
	background:#FFFFFF;
	height:300px;
	margin-top:-300px;
	opacity:0.7;
}

/**************************************************************************************/
/**************************************************************************************/
/****************************dia_beautiful_end_slider_end(a)********************************************************/
/**************************************************************************************/
/**************************************************************************************/












/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////Dia_home_end(a)//////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/

/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*-----------------------------------------Asha end-----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/

/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////Dia_ASHA_product_start////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/



/**************************************************************************************/
/**************************************************************************************/
/****************************dia_jumbotron_start(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/
.dia_jumbotron1{
	min-height: 250px;
}

.dia_jumbotron1 h1{
	
}

.dia_jumbotron{
	min-height: 220px;
	
}

.dia_jumbotron img{

}


/**************************************************************************************/
/**************************************************************************************/
/****************************dia_jumbotron_end(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/




/**************************************************************************************/
/**************************************************************************************/
/****************************dia_diamanzza_start(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/

.thumbnail a{
	border-radius: 0px;
	width: 50%;
	color: white;
	background: black;
	text-decoration: none;
	text-align: center;

}
.product_hover_box:hover{
	transform:scale(1.1);
	box-shadow:10px 10px 10px 10px #fff;
	border-radius:0px;
}
.product_border_box{
	border-radius:0px;
	padding:0px;
}

/**************************************************************************************/
/**************************************************************************************/
/****************************dia_diamanzza_end(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/






/**************************************************************************************/
/**************************************************************************************/
/****************************dia_load_more_start(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/

.rfgt{
	
	min-height: 80px;
	text-align: center;

}




/**************************************************************************************/
/**************************************************************************************/
/****************************dia_load_more_end(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/


/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////Dia_ASHA_product_end////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/


/**-------------------------------------------------------------------------------------**/
/**---------------------------------------------------------------------**/
/**-------------------------Fathema start---------------------------------**/
/**-----------------------------------------------**/
/**---------------------------------------**/


/*brand----------------brand------------------------brand-----------------------brand*/
/*brand----------------brand------------------------brand-----------------------brand*/

.brands_name{
	margin:0px; 
}
.brands_name span {min-height: 40px;font-family: Chiller; color: black;
	font-size: 48px; font-weight: bold; margin-top: 0px;}

.brands_name p{font-family: Times New Roman; font-size: 18px;color:#262626;
font-weight:bold;
	text-align: center;}

.brands_image img {height: 130px;width: 100%;
padding: 1%; border: 1px solid black;}		
.brands_image img:hover{
		transform: scale(1.1);
		transition:0.1s;
		border: 1px solid orange;
}
.offer span {font-family: Times New Roman; font-size: 36px; font-weight: bold;}

.showroom_name span {font-family: Times New Roman; font-size: 48px; 
	font-weight: bold;}

.showroom_branch section {background:#FF0000; text-align:center;font-family: Brush Script MT;
margin-top:3%; font-size: 36px; font-weight: bold;color:#fff;}	
	 

.kolkata section {background:#FF0000; text-align:center;font-family: Brush Script MT;
margin-top:4%;margin-bottom:5%; font-size: 36px; font-weight: bold;color:#fff;}	
	 

.Dia_footer_m {background: #000000; text-align: center; padding-bottom: 3px;
	padding-top: 10px;}

.Dia_footer_m p {font-family: Calibri (Body); font-size: 11px; color: #fff;}
.offer_image img{height: 250px;width: 100%;}
/*brand----------------brand------------------------brand-----------------------brand*/
/*brand----------------brand------------------------brand-----------------------brand*/

/*++++++++++++++++contact++++++++++++++++contact++++++++++++++++contact++++++++++++++*/
/*++++++++++++++++contact++++++++++++++++contact++++++++++++++++contact++++++++++++++*/

.about_name span {font-family: Chiller; font-size: 48px; font-weight: bold;
	color: #808080; padding-left: 0px;padding:0px 20px;}

.about_name p {font-family: Times New Roman; font-size: 12px; color: #808080;text-align:justify;padding:0px 20px;}

.quality span {font-family: Times New Roman; font-size: 20px; color: #808080;
	font-weight: bold;}

.quality_image {}
.quality_image img {width: 100%; height:250px;}

.quality li {font-family: Times New Roman; font-size: 12px; color: #808080;}

.contact_us span {font-family: Chiller; font-size: 48px; color: #808080;
	font-weight: bold;}

.contact_branch span {font-weight: bold;color: black;}

.contact_branch p {color: black;}

.message_us span {font-family: Chiller; font-size: 48px; color: #808080;
	font-weight: bold;}

.message_form {background: #FFF2CC; color: #808080;}	 				


.Dia_footer_m {background: #000000; text-align: center; padding-bottom: 3px;
	padding-top: 10px;}

.Dia_footer_m p {font-family: Calibri (Body); font-size: 11px; color: #fff;}

.from_dia_fa{
	background-color:#FFF2CC;
	border-radius:0px;
}
.fatema_button{
	background-color:#000;color: #fff; padding-right: 50px;padding-left: 50px; 
	margin-top:2%;margin-bottom:2%;border-radius:0px;
}
/*++++++++++++++++contact++++++++++++++++contact++++++++++++++++contact++++++++++++++*/
/*++++++++++++++++contact++++++++++++++++contact++++++++++++++++contact++++++++++++++*/

/**-----------------------------------------**/
/**-----------------------------------------------**/
/**-----------------------------------------------------------**/
/**-------------------------Fathema end-----------------------------------------------*/
/**-------------------------------------------------------------------------------------**/
/**-------------------------------------------------------------------------------------**/



/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////Dia_footer_m start///////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
.Dia_footer_m {
	background:#000000;
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
	margin-top:10px;
}
.Dia_footer_m p{
	font-family:Calibri (Body);
	font-size:11px;
	color:#fff;
}
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////Dia_footer_m end////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/








  