body{
	width: 80%;
	margin: 0px auto;
	background: purple;
}
.Mehedi h1{
	background: red;
	color: white;
}
.Asha h1{

	background:blue;
	color:white; 

}

 .jannat h1{
 	
 	background: skyblue;
 	color:white;


 }

 .shornil h1{
background: lightgreen;
color:white;

 }
