
body{
	background:#0A4F94;
}
.body{
	height:100vh; 
}
form{
	margin-top:30vh; 
}
.control-label{
	color:white; 
}
input[type='email'],input[type='text'],
input[type='password'],
.btn{
	border-radius:0px;
}
h3{
	color:white;
	text-align:center;
	height:5vh;
}
.home1{
	font-size:300%; 
	color:orange;
}
.home2{
	font-size:20px;
	color:white;	
}
center{
	padding-top:70px;
	border-bottom:20px solid white;
}