/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*--------------------------Da_menu_m start----------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
.top-menu{
	 
}
.icon{
	padding:1%; border:1px solid black;
}
.menu-items{
	background:red; 
	display:none; 
	margin-top:2px; 
}
/*-----------------------------------------------------------------------*/

/*--****************************************************************************************--*/
/*--****************************************************************************************--*/
/*--****************************************************************************************--*/
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {

.top-menu:hover .menu-items{
	display:block; 
	z-index:999; 
	position:absolute; 
	width:90.2%; 
}

.Dia_box_m{
	text-align:center;
}
.Dia_box_m h4{
	font-family:Bell MT;
	font-weight:bold;
	color:#33CCFF;
}
.Dia_box_link_M{
	text-align:left;
}
.Dia_box_link_M ul{}
.Dia_box_link_M ul li{list-style:none;}
.Dia_box_link_M ul li a{color:#fff;font-family:Bell MT;}
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
 
.top-menu:hover .menu-items{
	display:block; 
	z-index:999; 
	position:absolute; 
	width:92.4%; 
}

.Dia_box_m{
	text-align:left;
}
.Dia_box_m h4{
	font-family:Bell MT;
	font-weight:bold;
	color:#33CCFF;
	margin-left:10%;
}
.Dia_box_link_M{
	text-align:left;
}
.Dia_box_link_M ul{}
.Dia_box_link_M ul li{list-style:none;}
.Dia_box_link_M ul li a{color:#fff;font-family:Bell MT;}
}

/*--****************************************************************************************--*/
/*--****************************************************************************************--*/
/*--****************************************************************************************--*/
/*--------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*--------------------------Da_menu_m ed----------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
/*--***************************--*/
/*--*************Dai_add_m**************--*/
/*--***************************--*/
.Dai_add_m{
	margin-bottom:16px;
}
/*--***************************--*/
/*--*************Dai_add_m**************--*/
/*--***************************--*/
/*--////////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////////////////////////////////////////////////////--*/
/*--/////////////////////////////////////////Dia_product_simillar_m start///////////////////////////////////////////--*/
/*--////////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////////////////////////////////////////////////////--*/
.Dia_product_simillar_m{
	background:#000;
	height:188px;
	color:#fff;
	text-align:center;
}
.Dia_product_simillar_m p{
	font-size:28px;
	font-family:Times New Roman;
	color:#fff;
	font-weight:bold;
	padding:50px;
}
.dia_thumbnail_M1{
	border:0px;
	border-radius:none;
	padding:0px;
}
.dia_thumbnail_M{
	border:0px;
	border-radius:0;
	background:#EDEDED;
	padding:0px;
}
.dia_thumbnail_M img{
	width:100%;
	height:244px;
}
.caption{text-align:center;}
.caption h2{font-family:Bell MT;font-weight:bold;color:#595959;font-size:30px;}
.caption p{font-family:Bell MT;font-weight:bold;color:#595959;font-size:12px;}
.caption h3{font-family:Bell MT;font-weight:bold;color:#000;font-size:16px;}
.caption a{padding-left:30px;padding-right:30px; border:0px; border-radius:0x; color:#fff; background:#000;font-size:20px; font-family:Bell MT;font-weight:bold;}
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  .Dia_banner_m{
	  margin-bottom:3%;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
 .Dai_banner_img{
	 margin-top:5%;
 }
  .Dia_banner_m{
	  margin-bottom:3%;
  }
}

/*--////////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////////////////////////////////////////////////////--*/
/*--/////////////////////////////////////////Dia_product_simillar_m end///////////////////////////////////////////--*/
/*--////////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////////////////////////////////////////////////////--*/


/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////Dia_footer_m start///////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
.Dia_footer_m {
	background:#000000;
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
}
.Dia_footer_m p{
	font-family:Calibri (Body);
	font-size:11px;
	color:#fff;
}
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////Dia_footer_m end////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/

/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////dai_header_section start////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/

/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
 .dai_header_section{
	position:relative;
}

.Dai_diamanzza_name{
	
}
.Dai_diamanzza_name span{
	font-family:Chiller;
	font-size:90px;
	font-weight:bold;
	color:#808080;
	padding-left:0px;
}

.Dai_diamanzza_name p{
	font-family:Chiller;
	font-size:20px;
	font-weight:bold;
	color:#808080;
}
.Dia_icon_m{
	
}
.Dia_icon_m img{
width:100%;
margin-top:-55px;	
height:260px;
}
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  .dai_header_section{
	position:relative;
}

.Dai_diamanzza_name{
	
}
.Dai_diamanzza_name span{
	font-family:Chiller;
	font-size:80px;
	font-weight:bold;
	color:#808080;
	padding-left:0px;
}

.Dai_diamanzza_name p{
	font-family:Chiller;
	font-size:20px;
	font-weight:bold;
	color:#808080;
}

.Dia_icon_m{
	text-align:center;
}
.Dia_icon_m img{
width:80%;	
height:300px;
margin-top:-20px;
}
}
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////dai_header_section end////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/

/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////dai_slider__details_section start////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
.dai_slider__details_section{
}
.Dia_details_m{
	
}
.Dia_details_m span{
	font-family:Bell MT;
	font-size:30px;
	font-weight:bold;color:#595959;
	padding-left:10px;
}
.Dia_details_m p{
	font-family:Bell MT;
	font-size:13px;
	text-align:justify;
	padding:18px;
	font-weight:bold;color:#595959;
}
.Dia_details_m ul li {
	font-family:Bell MT;
	font-size:15px;
	text-align:justify;
	font-weight:bold;color:#595959;
}
.Dia_details_m h4 {
	font-family:Times New Roman;
	font-size:18px;
	text-align:justify;
	padding-left:8px;
	font-weight:bold;color:#595959;
}
.Dia_details_m h6 {
	font-family:Times New Roman;
	padding-left:8px;
}
.Dia_details_m button{
	font-family:Times New Roman;
	font-size:14px;
	font-weight:bold;
	border:0px;
	background:#000000;
	border-radius:none;
	padding-left:5px;
	padding-right:5px;
}
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////dai_slider__details_section end////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/

/*-------------------------------------------------------------------------------------*/
/*---------------------------------------Dai_add_m start---------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
.Dai_add_m{
	margin-top:10px;
	
}.Dai_add_m img{
	width:100%;
	border:1px solid black;
	height:150px;
	
}
/*-------------------------------------------------------------------------------------*/
/*---------------------------------------Dai_add_m end----------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*//**********************************************************************************************--*/
/*//**********************************************************************************************--*/
/********************************************Dai_product_m start **************************************************/*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
  
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/********************************************Dai_product_m end **************************************************/
/**********************************************************************************************-->*/

/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*--------------------------------------Four page start-----------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
.Dai_details_from_m{
	margin:0px; padding:0px;
}
/*.................................................................*/
/*.......................from_fox..........................................*/
/*.................................................................*/
.from-fox{
	border-radius:0px;
	border:1px solid #000;
	font-family:Times New Roman;
	font-size:17 px;
	font-weight:bold;
}
.Dai_diamanzza_name button{
	color:#ffffff;
	background:#000;
	padding-left:15px;padding-right:15px;
	border:0px;
	border-radius:0px;
	font-weight:bold;
	padding:5px 18px;
	margin-bottom:2%;
	font-size:14px;
}
/*.................................................................*/
/*.......................from_fox..........................................*/
/*.................................................................*/

.Dai_details_from_m span{
	font-family:Bell MT;
	font-size:24px;
	color:##595959;
	padding:10px;
	font-weight:bold;
}

.Dai_details_from_m p{
	font-family:Times New Roman;
	font-size:11px;
	color:green;
	padding:10px;
	font-weight:bold;
}

.Dia_product_details_m ul li {
	font-family:Bell MT;
	font-size:15px;padding:0px; margin-left:-10px;
	text-align:justify;
	font-weight:bold;
	color:#595959;
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*----------------------------------------dia_about_jewelry--------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
.dia_about_jewelry{
	text-align:center;
}
.dia_about_jewelry h1{
	font-family:Bell MT;
	font-size:44px;
	font-weight:bold;
	padding-top:20px;
}
.dia_about_jewelry p {
	font-family:Times New Roman;
	font-weight:italic;
	font-size:15px;
	color:#000000;
}
.dia_about_jewelry section {
	padding-bottom:60px;
	padding-top:10px;
	
}
.dia_about_jewelry section button {
	color:#ffffff;
	padding-left:30px;
	padding-right:30px;
	border:0px;
	font-size:22px;
	font-weight:bold;
	font-family:Times New Roman;
	border-radius:0px;
	background:#000;"
}
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*----------------------------------------dia_about_jewelry--------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------Dai_About_Jewelry_m start-----------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  
.Dai_product_image{
	width:50%;
	float:left;
	
}
.Dai_product_Details1{
	width:50%;
	float:left;
	
}
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {

.Dai_product_image{
	width:50%;
	float:left;
	margin-top:3%;
	
}
.Dai_product_Details1{
	width:50%;
	float:left;
	margin-top:3%;
	
}
}
.Dai_product_Details{
	background:#F2F2F2;
	min-height:350px;
	padding:10px;
}
.Dai_product_Details span{
	font-family:Bell MT;
	font-size:30px;
	font-weight:bold;color:#595959;
	padding-left:10px;
}
.Dai_product_Details p{
	font-family:Bell MT;
	font-size:15px;
	text-align:justify;
	padding:20px;
	font-weight:bold; 
	color:#000000;
}
.Dai_product_Details ul li {
	font-family:Bell MT;
	font-size:16px;
	text-align:justify;
	font-weight:bold;color:#000;
}
.Dai_product_Details h4 {
	font-family:Times New Roman;
	font-size:18px;
	text-align:justify;
	padding-left:8px;
	font-weight:bold;color:#7F7F7F;
}
.Dai_product_Details h6 {
	font-family:Times New Roman;
	padding-left:8px;
	font-weight:bold;
	color:#000;
}
.Dai_product_Details button{
	font-family:Times New Roman;
	font-size:14px;
	font-weight:bold;
	border:0px;
	background:#000000;
	border-radius:none;
	padding-left:5px;
	padding-right:5px;
}
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------Dai_About_Jewelry_m e-----------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------*/








/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*--------------------------------------Four page end-----------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
/**********************************************************************************************-->*/
  